import MessageCommand from '../templates/MessageCommand'

export default new MessageCommand({
    name: 'ping', // command name
    description: 'Ping!', // command description
    async execute(message, args) {
        // code to run on command execution
        // for example:
        await message.channel.send('Pong.')
    },
})